@layer reset, base, tokens, recipes, utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

.sticky {
  position: sticky;
  top: 0;
}

.range::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #3BB77E 50%, #E9ECEF 50%);
}

.range::-moz-range-track {
  background: linear-gradient(#3BB77E, #E9ECEF);
}
